html
  head
    title WebRTC Chat
    link(rel='stylesheet', type='text/css', href='/css/app.css')

  body
    h1 WebRTC Chat
    p This is a demo of WebRTC for the members of the 
        a(href="http://www.lsba.org/atj/") LSBA's Access To Justice Tech Committee.
    p WebRTC requires no browser plugins or third-party services (e.g. Skype) and all streams are secured using 128-bit encryption. WebRTC is currently only supported in Chrome and Firefox.
    p To chat with someone, tell them to visit this url: http://#{ url }
    p The source code is available on 
        a(href="https://github.com/judsonmitchell/simple-webrtc-video-chat") Github.
    block content
    script(src='/javascripts/adapter.js')
    script(src='/javascripts/app.js')
